@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,600&display=swap');
body {
    font-family: Poppins;
    background-color: #111;
    color: #ddd;
    margin: 0;
    font-size: 15px;
}

a {
    text-decoration: none;
}

.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #eee;
    text-shadow: 0 6px 12px #0006;
}

.carousel .list .item .content .author {
    font-weight: bold;
    letter-spacing: 100px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
    font-weight: bold;
    font-size: 5em;
    line-height: 1.4em;
}

.carousel .list .item .content .topic {
    color: #1d84c9;
}

.carousel .list .item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 21px;
}

.carousel .list .item .content button {
    border: none;
    background-color: #2f95da;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.carousel .list .item .content button:nth-child(2) {
    background-color: transparent;
    color: #ddd;
    border: 1.25px solid #aaa;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: bold;
}

.arrows {
    position: absolute;
    top: 80%;
    right: 53%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd4;
    border: none;
    font-family: monospace;
    color: #ffd;
    font-weight: bold;
    font-size: large;
    transition: .6s;
    z-index: 100;
}

.arrows button:hover {
    background-color: #ddd;
    color: #111;
}

.carousel .list .item:nth-child(1) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .desc,
.carousel .list .item:nth-child(1) .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.6s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .title {
    animation-delay: 1.25s;
}

.carousel .list .item:nth-child(1) .topic {
    animation-delay: 1.45s;
}

.carousel .list .item:nth-child(1) .desc {
    animation-delay: 1.65s;
}

.carousel .list .item:nth-child(1) .buttons {
    animation-delay: 1.85s;
}

.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail .6s linear 1 forwards;
}

@keyframes showThumbnail {
    to {
        width: 150px;
    }
}

.carousel.next .thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail .6s linear 1 forwards;
}

@keyframes transformThumbnail {
    to {
        transform: translateX(0);
    }
}

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.6s linear 1 forwards;
}

@keyframes outImage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .6s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .desc,
.carousel.prev .list .item:nth-child(2) .buttons {
    animation: contentOut 0.6s 1s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carousel.next arrows button,
.carousel.prev arrows button {
    pointer-events: none;
}

.time {
    width: 100%;
    height: 4px;
    background-color: #f30e0e;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next time,
.carousel.prev time {
    width: 100%;
    animation: timeRun 2s linear 1 forwards;
}

@keyframes timeRun {
    to {
        width: 0;
    }
}

@media screaan and (max-width:680px) {
    .carousel .list .item .content {
        padding-right: 0;
    }
    .carousel .list .item .content .title {
        font-size: 30px;
    }
}